// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.

h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
h3 {
  text-align: left; 
  margin-bottom: 0;
}
h4 {
  color: #999;
  position: relative;
}
h5 {
  font-size: 1.0em;
  text-align: left; 
  margin-bottom: 0;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  margin-top: 20px;
}
button:hover {
  background-color: #cfd8dc;
}
button.delete {
  position: relative;
  left: 270px;
  top: -56px;
  background-color: gray !important;
  color: white;
}
button.deleteOffer {
  position: relative;
  left: 352px;
  top: -56px;
  background-color: gray !important;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
  
label {
  display: inline-block;
  width: 9em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.container {
  width: 500px;
  clear: both;
}
.container input {
  width: 100%;
  clear: both;
}

.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.items .text {
  position: relative;
  top: -14px;
  margin-right: .8em;
}
.items .phone {
  position: relative;
  top: -3px;
}
.items li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 4050px;
}
.items a:hover {
  color:#607D8B;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.offers {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 25em;
}
.offers .text {
  position: relative;
  top: -14px;
  margin-right: .8em;
}
.offers .phone {
  position: relative;
  top: -3px;
}
.offers li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.offers li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.offers li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.offers a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 4050px;
}
.offers a:hover {
  color:#607D8B;
}
.offers .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
