<div *ngIf="!user">
  <div>
    Вам необходимо <b>авторизоваться</b>.
  </div>
  <div>
    Перейдите <b>по ссылке</b>, полученной при регистрации.
  </div>
</div>
      
<div *ngIf="user">
  <h3>Партнеры:</h3>

  <div [hidden]="! ready || userPartner">
    <h4>[ пока нет партнеров ]</h4>

    <owner-addpartner-form></owner-addpartner-form>
  </div>

  <div [hidden]="! ready || ! userPartner">
    <br>
    <ul class="items">
      <li *ngFor="let user of usersPartner | async">
        <a (click)="alert('Чтобы войти как Партнер,'+'\n'+'нужно выйти из текущего сеанса.')">
          <span class="badge"></span>
          <span class="text">{{user.emails[0].address}}</span> 
        </a>
        <button class="delete" title="Удалить партнера" (click)="deletePartner(user)">x</button>
      </li>
    </ul>
        
    <owner-addpartner-form></owner-addpartner-form>
  </div>
</div>
